<div class="crud-container">
    <h2>Gestion des Départements</h2>
    <p>Ajouter, Lire, Modifier et Supprimer des départements</p>

    <button class="btn btn-add" (click)="toggleAddForm()">
        Ajouter un Département
    </button>

    <div class="form-container" *ngIf="showAddForm">
        <h2>Ajouter un Département</h2>
        <form (ngSubmit)="onSubmit()" #departmentForm="ngForm">
            <label for="name">Nom du Département:</label>
            <input id="name" name="name" [(ngModel)]="newDepartement.name" required />
            <button type="submit" class="btn btn-submit">Ajouter</button>
            <button type="button" class="btn btn-cancel" (click)="resetForm()">Annuler</button>
        </form>
    </div>

    <div class="form-container" *ngIf="selectedDepartement">
        <h2>Modifier un Département</h2>
        <form (ngSubmit)="updateDepartement()">
            <label for="editName">Nom du Département:</label>
            <input id="editName" [(ngModel)]="selectedDepartement.name" name="editName" required />
            <button type="submit" class="btn btn-submit">Modifier</button>
            <button type="button" class="btn btn-cancel" (click)="selectedDepartement = null">Annuler</button>
        </form>
    </div>

    <h2>Départements Existants</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nom du Département</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let departement of departements">
                <td>{{ departement.name }}</td>
                <td>
                    <button class="btn btn-edit" (click)="editDepartement(departement.name)">Modifier</button>
                </td>
                <td>
                    <button class="btn btn-delete" (click)="deleteDepartementByName(departement.name)">Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
